<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <label for="name">
        <input id="name" type="text" class="form-control" formControlName="name" placeholder="name">
      </label>
      <label for="desc">
        <input id="desc" type="text" class="form-control" formControlName="desc" placeholder="description">
      </label>
      <label for="imagesrc">
        <input id="imagesrc" type="url" class="form-control" formControlName="imagesrc" placeholder="Image Link" [(ngModel)]="imagesrc" value="imagesrc">
      </label>
      <div class="row" *ngIf="imagesrc!=null">
        <img src="{{imagesrc}}" class="img-responsive">
      </div>
      <div class="row" formArrayName="ingredients">
        <div class="col-xs-8">
          <div class="row" *ngFor="let ingCtrl of myForm.get('ingredients')['controls']; let i=index" [formGroupName]="i"><br>
            <div class="col-xs-8">
              <input formControlName="name" class="form-control" type="text">
            </div>
            <div class="col-xs-2">
              <input formControlName="amount" class="form-control" type="number">
            </div>
            <button class="btn btn-danger" type="button" (click)="onDelete(i)" >X</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button class="btn btn-default" type="button" (click)="onAddIngredient()" >Add Ingredient</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button class="btn btn-primary" [disabled]="!myForm.valid" type="submit">Submit</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-danger" type="button" (click)="onReset()">Clear</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-default" type="button" (click)="onBack()" >Back</button>
        </div>
      </div>
    </div>
  </div>
</form>
