<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12 col-md-offset-4 col-md-8">
      <div class="row">
        <div class="col-xs-12">
          <label for="email">Email
            <input class="form-control" formControlName="email" id="email" type="text">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="password">Password
            <input type="password" class="form-control" id="password" formControlName="password">
          </label>
        </div>
      </div>
      <button type="button" class="btn btn-primary">Sign In</button>
    </div>
  </div>
</form>
